/* Prefixing your CSS classes with your plugin name is a best practice to avoid
 * collisions with other plugin styles. */
.troubleshooting-panel-console-plugin__nice {
  /* Use PF global vars for colors to support dark mode in OpenShift 4.11.
   * https://patternfly-react-main.surge.sh/developer-resources/global-css-variables */
  color: var(--pf-global--palette--blue-400);
}
